*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container > div{
    border: 1px solid red;
    padding: 20px;
}
.container{
min-height: 100vh;
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: auto 1fr 1fr;
grid-template-areas: 
"sidebar header header"
"sidebar projects announcements"
"sidebar projects trending";
}
.header{
    grid-area: header;
    height: 9rem;
}
.sidebar{
    grid-area: sidebar;
    background-color: #21a1fc;
}
.projects{
    grid-area: projects;
}
.projects h2{
    margin-bottom: 18px;
}
.projects .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.card-container .card{
    border-left: 5px solid rgb(255, 169, 39);
    border-radius: 8px;
    height: 200px;
    padding:5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card p{
    margin-top: 5px;
    width: 33ch;
}
.card .actionicons{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    border: none;
}
.actionicons img{
    height:auto;
    width: 25px;
    margin: 0 5px;
}
.announcements{
    grid-area: announcements;
}
.announcements h2{
    margin-bottom: 8px;
}
.announcements .news-container{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
.news-container .news{  
    height: 350px;
    padding: 10px;
}
.news-container .news p{
    margin-bottom: 7px;
}
.trending{
    grid-area: trending;

}
.trending .account-container{
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.account-container .accounts{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-bottom: 8px;
}
.account-container .accounts img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}