*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto;
}
.container > div{
    border: 1px solid red;
    padding: 20px;
}
.container{
min-height: 100vh;
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: auto 1fr 1fr;
grid-template-areas: 
"sidebar header header"
"sidebar projects announcements"
"sidebar projects trending";
}
.header{
    grid-area: header;
    height: 9rem;
}
.sidebar{
    grid-area: sidebar;
    background-color: #21a1fc;
    display: flex;
    flex-direction: column;
}
.sidebar .icon-set{
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    margin-bottom: 15px;

}
.sidebar .Dashboard{
    margin-bottom: 60px;
}
.sidebar .Dashboard > img{
    height: 55px;
    width: 55px;
}
.icon-set p{
    
}
.sidebar .Dashboard p{
    font-size: 1.5em;
}
.icon-set img{
    height: 25px;
    width: 25px;
    filter: invert(97%) sepia(78%) saturate(146%) hue-rotate(348deg) brightness(105%) contrast(111%);
}
.sidebar .community-icon{
    margin-bottom: 80px;
}
.projects{
    grid-area: projects;
}
.projects h2{
    margin-bottom: 18px;
}
.projects .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.card-container .card{
    border-left: 5px solid rgb(255, 169, 39);
    border-radius: 8px;
    height: 200px;
    padding:5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card p{
    margin-top: 5px;
    width: 33ch;
}
.card .actionicons{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    border: none;
}
.actionicons img{
    height:auto;
    width: 25px;
    margin: 0 5px;
}
.announcements{
    grid-area: announcements;
}
.announcements h2{
    margin-bottom: 8px;
}
.announcements .news-container{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 450px;
    border-radius: 8px;
}
.news-container .news{  
    padding: 10px;
}
.news-container .news hr{
    border: none;
    height: 2px;
    background-color: rgb(212, 212, 212);
    margin-bottom: 5px;
}
.news-container .news p{
    font-size: 1em;
    margin-bottom: 17px;
}
.trending{
    grid-area: trending;

}
.trending .account-container{
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.account-container .accounts{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-bottom: 12px;
    font-size: 0.95em;
}
.account-container .accounts .acc-title{
    font-weight: bold;
    font-size: 1em;
}
.account-container .accounts img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}