*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container >div{
    border: 1px solid red;
    padding: 20px;
}
.container{
min-height: 100vh;
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: auto 1fr 1fr;
grid-template-areas: 
"sidebar header header"
"sidebar projects announcements"
"sidebar projects trending";
}
.header{
    grid-area: header;
    height: 10rem;
}
.sidebar{
    grid-area: sidebar;
    background-color: #21a1fc;
}
.projects{
    grid-area: projects;
}
.announcements{
    grid-area: announcements;
}
.trending{
    grid-area: trending;
}