*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto;
}
.container > div{
    padding: 20px;
}
.container{
min-height: 80vh;
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: auto 1fr 1fr;
grid-template-areas: 
"sidebar header header"
"sidebar projects announcements"
"sidebar projects trending";
}
.header{
    grid-area: header;
    height: 9rem;
    display: flex;
    flex-direction: column;
}
.header .search-container{
    display: flex;
    justify-content: space-between;
}
.header .search-container .search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.header .search-container .search-bar img{
    width: 38px;
    height: 38px;
}
.search-container .search-bar input[type="text"]{
    width: 500px;
    height: 40px;
    border-radius: 18px;
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
}
.header .search-container .account-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}
.search-container .account-options .img_1{
    width: 28px;
    height: 28px;
}
.search-container .account-options .img_2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.search-container .account-options p{
    font-weight: bold;
    font-size: 1.1em;
}
.header .account-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-bar .user-account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 12px;
    font-size: 0.95em;
    margin-top:8px;
}
.account-bar .user-account img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.account-bar .user-account .welcome-message{
    font-size: 0.9em;
    font-weight: 500;
}
.account-bar .user-account .useracc-content{
    font-size: 1.5em;
    font-weight: bold;
}
.account-bar button{
    height: 40px;
    width: 85px;
    border: none;
    background-color: #21a1fc;
    border-radius: 30px;
    color: white;
    font-size: 0.9em;
    margin:0 5px;
    cursor: pointer;
}
.sidebar{
    grid-area: sidebar;
    background-color: #21a1fc;
    display: flex;
    flex-direction: column;
}
.sidebar .icon-set{
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    margin-bottom: 15px;

}
.sidebar .Dashboard{
    margin-bottom: 60px;
}
.sidebar .Dashboard > img{
    height: 55px;
    width: 55px;
}
.sidebar .Dashboard p{
    font-size: 1.5em;
}
.icon-set img{
    height: 25px;
    width: 25px;
    filter: invert(97%) sepia(78%) saturate(146%) hue-rotate(348deg) brightness(105%) contrast(111%);
}
.sidebar .community-icon{
    margin-bottom: 80px;
}
.projects{
    grid-area: projects;
}
.projects h2{
    font-size: 1.2em;
    margin-bottom: 18px;
}
.projects .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.card-container .card{
    border-left: 5px solid rgb(255, 169, 39);
    border-radius: 8px;
    height: 200px;
    padding:5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: border-color 0.15s ease;
}
.card p{
    margin-top: 5px;
    width: 33ch;
}
.card h1{
    font-size: 1.4em;
}
.card .actionicons{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    border: none;
}
.actionicons img{
    height:auto;
    width: 25px;
    margin: 0 5px;
}
.announcements{
    grid-area: announcements;
}
.announcements h2{
    font-size: 1.2em;
    margin-bottom: 8px;
}
.announcements .news-container{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 430px;
    border-radius: 8px;
}
.news-container .news{  
    padding: 10px;
}
.news-container .news h3{
    font-size: 1em;
}
.news-container .news hr{
    border: none;
    height: 2px;
    background-color: rgb(212, 212, 212);
    margin-bottom: 5px;
}
.news-container .news p{
    font-size: 1em;
    margin-bottom: 17px;
}
.trending{
    grid-area: trending;

}
.trending h2{
    margin-bottom: 8px;
    font-size: 1.2em;
}
.trending .account-container{
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.account-container .accounts{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-bottom: 12px;
    font-size: 0.95em;
}
.account-container .accounts .acc-title{
    font-weight: bold;
    font-size: 1em;
}
.account-container .accounts img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-container .card:hover{
    border-color: rgb(255, 115, 0);
}